extends layout

block content
    #header.page-header
        h1 #{title}
            small 为你轻松下载各个旅行网站的精彩内容
    #message.hide
    #searching.row
        .span6.offset3
            form#search-form.well.form-search.center(action="#", method="post")
                input#input.input-medium.search-query(name="word", required="true", type="text", placeholder="请输入查询请求")
                input#submit.btn.btn-primary(type="submit", value="提交")
    #results.row
        #loading.hide
        .row
            ul#result-list.span8.offset2
        .row
            #img-list.span8.offset2
    script(src='/javascripts/sp.js')
    footer.row.center LTW @ 豌豆荚Hackday 2012
