extends layout

block content
  h1= title
  p Welcome to #{title}
  p here it is
  footer Copyright &copy; 2012 LTW

bogon:one_key_travel_guide twer$ curl -X POST -IL -F "word=%E5%A1%9E%E7%8F%AD%E5%B2%9B" http://www.mafengwo.cn/group/searchresult.php
