.center
    text-align: center

.hide
    display: none

#message
    position: fixed
    top: 7px
    left: 50%
    margin-left: -20px
#sample-travel-targets
    margin-top:0.8em
footer
    margin-top: 10em
